<!DOCTYPE html>
<html>
<head>
	<title>Book Detail</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="detail.css">
	<link rel="stylesheet" type="text/css" href="reserve.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<div id="iconBox"><a href="/login"><i id="Icons" class="fa fa-sign-out fa-2x"></i></a>	
				<div id="iconText">Log Out</div>
			</div>
			<div id="iconBox"><a href="/mypage"><i id="Icons" class="fa fa-user fa-2x"></i></a><div id="iconText">My Page</div></div>
			<div id="iconBox"><a href="/registerbook"><i id="Icons" class="fa fa-book fa-2x"></i></a><div id="iconText">Register</div></div>
			<div id="iconBox"><a href="/reservebook"><i id="Icons" class="fa fa-bookmark fa-2x"></i><!-- <span class="button__badge">N</span> --></a><div id="iconText">Reserve</div></div>
			<div id="iconBox"><i id="Icons" class="fa fa-exclamation fa-2x"></i><div id="iconText">Notice</div></div>
		</div>
	</div>
	<div class="top-menu">
	</div>
	<div class="bigbox">
		<div class="img-half">
			<% if (book_r.thumbnail != null) { %>
			<img src="<%= book_r.thumbnail %>" class="thumbnail">
			<% } else { %>
			<img src="/no_book.png" class="thumbnail">
			<% } %>
			<!-- <button class="reg_button">찜하기</button> -->
		</div>
		<div class="other-half">
			<div class="book-title"><%= book_i.title %></div>
			<div class="book-subtitle"><%= book_i.subtitle %></div>
			<div class="book-author"><%= book_r.authors %></div>
			<div class="divTable">
				<div class="divRow">
					<div class="divCell col1"> 판매자 </div>
					<div class="divCell col2"><%= book_r.uname %></div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 가격 </div>
					<div class="divCell col2"><%= book_r.price %>원</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 과목명 </div>
					<div class="divCell col2"><%= book_r.department %> <%= book_r.subject %></div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 상태 </div>
					<div class="divCell col2">
						<% if (book_r.book_status == 1) { %>
							최하
						<% } else if (book_r.book_status == 2) { %>
							하
						<% } else if (book_r.book_status == 3) { %>
							중간
						<% } else if (book_r.book_status == 4) { %>
							상
						<% } else { %>
							최상
						<% } %>
					</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 필기 흔적 </div>
					<div class="divCell col2">
						<% if (book_r.book_written) { %>
							있음
						<% } else { %>
							없음
						<% } %>
					</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 찢어짐 </div>
					<div class="divCell col2">
						<% if (book_r.book_ripped) { %>
							있음
						<% } else { %>
							없음
						<% } %>
					</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 특이사항 </div>
					<div class="divCell col2"><%= book_r.book_special %></div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 메모 </div>
					<div class="divCell col2"><%= book_r.memo %></div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 연락처 </div>
					<div class="divCell col2"><%= book_r.contact %></div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 책 정보 </div>
					<div class="divCell col2">
						<div class="infoTable">
							<div class="divRow">
								<div class="divCell col3"> 출간일 </div>
								<div class="divCell col4"><%= book_i.publishedDate %></div>
							</div>
							<div class="divRow">
								<div class="divCell col3"> 페이지 수 </div>
								<div class="divCell col4"><%= book_i.pageCount %></div>
							</div>
							<div class="divRow">
								<div class="divCell col3"> 출판사 </div>
								<div class="divCell col4"><%= book_i.publisher %></div>
							</div>
							<div class="divRow">
								<div class="divCell col3"> 언어 </div>
								<div class="divCell col4"><%= book_i.language %></div>
							</div>
							<div class="divRow">
								<div class="divCell col3"> 평점 </div>
								<div class="divCell col4"><%= book_i.averageRating %></div>
							</div>
							<div class="divRow">
								<div class="divCell col3"> ISBN </div>
								<div class="divCell col4"><%= book_i.isbn %></div>
							</div>
						</div>
					</div>
				</div>
				<div class="divRow">
					<div class="divCell col1"> 책 설명 </div>
					<div class="divCell col2"><%= book_i.description %></div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>