<!DOCTYPE html>
<html>
<head>
	<title>Edit Book</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="upload.css">
	<link rel="stylesheet" type="text/css" href="reserve.css">
	<link rel="stylesheet" type="text/css" href="notification.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" >
	$(document).ready(function() {
		$(".notificationLink").click(function() {
			$("#notificationContainer").fadeToggle(300);
			$("#notification_count").fadeOut("slow");
			return false;
		});
		$(document).click(function() { $("#notificationContainer").hide(); });
		$("#notificationContainer").click(function() { return true });
	});
	</script>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<ul id="nav">
				<li><div id="iconBox"><a href="/registerbook"><i id="Icons" class="fa fa-book fa-2x"></i></a><div id="iconText">Register</div></div></li>
				<li><div id="iconBox"><a href="/reservebook"><i id="Icons" class="fa fa-bookmark fa-2x"></i></a><div id="iconText">Reserve</div></div></li>
				<li>
					<% if (notifcnt > 0) { %><span id="notification_count"><%= notifcnt %></span><% } %>
					<div id="iconBox"><a href=""><i id="Icons" class="fa fa-exclamation fa-2x notificationLink"></i></a><div id="iconText">Notice</div></div>
					<div id="notificationContainer"">
						<div id="notificationTitle">Notifications</div>
						<div id="notificationsBody" class="notifications">
							<% for (n in notif) { %>
								<a href="/details?bookid=<%= notif[n].bid %>&n=t"><div class="bookNotice"><%= notif[n].uname %> registered <%= notif[n].title %>.</div></a>
							<% } %>
						</div>
					</div>
				</li>
				<li><div id="iconBox"><a href="/mypage"><i id="Icons" class="fa fa-user fa-2x"></i></a><div id="iconText">My Page</div></div></li>
				<li><div id="iconBox"><a href="/login"><i id="Icons" class="fa fa-sign-out fa-2x"></i></a><div id="iconText">Log Out</div></div></li>
			</ul>
		</div>
	</div>
	<div class="top-menu">
	</div>

	<form class="bigbox" action="/edit" method="post">
		<input type="hidden" name="bookid" value="<%= book_r.bookid %>"/>
		<div class="divTable">
			<div class="headRow">Edit Books</div>
			<div class="divRow">
				<div class="divCell col1">ISBN</div>
				<div class="divCell col2">
					<input type="text" name="isbn" id="isbnI" required="required" readonly>
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">Departments</div>
				<div class="divCell col2">
					<select name="department" required="required">
						<option id="None">None</option>
						<option id="Physics">Physics</option>
						<option id="Mathematics">Methematics</option>
						<option id="Chemistry">Chemistry</option>
						<option id="Biology">Biology</option>
						<option id="ComputerScience">ComputerScience</option>
						<option id="ElectricEng">ElectricEng</option>
						<option id="CivilEng">CivilEng</option>
						<option id="BioBrainEng">BioBrainEng</option>
						<option id="IndustrialDesign">IndustrialDesign</option>
						<option id="IndustrialSystemEng">IndustrialSystemEng</option>
						<option id="ChemicalBiomolecularEng">ChemicalBiomolecularEng</option>
						<option id="NuclearQuantumEng">NuclearQuantumEng</option>
						<option id="MaterialScienceEng">MaterialScienceEng</option>
						<option id="MechanicalEng">MechanicalEng</option>
						<option id="AerospaceEng">AerospaceEng</option>
					</select>
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">State</div>
				<div class="divCell col2">
					<div class="statusDiv">
						<img src="book_icon_1.png"><br>
						<input type="radio" id="s5" value="5" name="status" required="required"><br>Very Good
					</div>
					<div class="statusDiv">
						<input type="radio" id="s4" value="4" name="status"><br>Good
					</div>
					<div class="statusDiv">
						<img src="book_icon_2.png"><br>
						<input type="radio" id="s3" value="3" name="status" required="required"><br>Average
					</div>
					<div class="statusDiv">
						<input type="radio" id="s2" value="2" name="status"><br>Bad
					</div>
					<div class="statusDiv">
						<img src="book_icon_3.png"><br>
						<input type="radio" id="s1" value="1" name="status" required="required"><br>Very Bad
					</div>
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">
					Written <input type="radio" id="w1" value="O" name="written" required="required">
					O <input type="radio" id="w0" value="X" name="written" required="required">
					X</div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">
					Ripped <input type="radio" id="r1" value="O" name="ripped" required="required">
					O <input type="radio" id="r0" value="X" name="ripped" required="required">
					X</div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">Others <input type="text" id="specialI" name="book_special"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">Contact</div>
				<div class="divCell col2"><input type="text" id="contactI" name="contact"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">Price (Won)</div>
				<div class="divCell col2"><input type="text" id="priceI" name="price" required="required"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">Memo</div>
				<div class="divCell col2"><input type="text" id="memoI" name="memo"></div>
			</div>
		</div>
		<input type="submit" class="reg_button" value="Edit">
		<script>
			document.getElementById("isbnI").defaultValue = "<%= book_r.isbn %>";
			document.getElementById("specialI").defaultValue = "<%= book_r.book_special %>";
			document.getElementById("contactI").defaultValue = "<%= book_r.contact %>";
			document.getElementById("priceI").defaultValue = "<%= book_r.price %>";
			document.getElementById("memoI").defaultValue = "<%= book_r.memo %>";

			document.getElementById("r<%= book_r.book_ripped %>").checked = true;
			document.getElementById("w<%= book_r.book_written %>").checked = true;
			document.getElementById("s<%= book_r.book_status %>").checked = true;
			document.getElementById("<%= book_r.department %>").selected = true;
			document.getElementById("<%= book_r.subject %>").selected = true;
		</script>
	</form>
</body>
</html>