<!DOCTYPE html>
<html>
<head>
	<title>upload</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="upload.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/login">login</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
			<select>
				<option value="title">Title</option>
				<option value="author">Author</option>
				<option value="subject">Subject</option>
			</select>
			<input type="text" name="search" placeholder="Search..." class="search-input">
			<button class="search-but">Search!</button>
		</div>
	</div>

	<form class="bigbox" action="/edit" method="post">
		<input type="hidden" name="bookid" value="<%= book_r.bookid %>"/>
		<div class="divTable">
			<div class="headRow">도서 수정하기</div>
			<div class="divRow">
				<div class="divCell col1">ISBN</div>
				<div class="divCell col2">
					<input type="text" name="isbn" id="isbnI" required="required" readonly>
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">분류</div>
				<div class="divCell col2">
					<select name="department" required="required">
						<option id="없음">없음</option>
						<option id="물리학과">물리학과</option>
						<option id="수리과학과">수리과학과</option>
						<option id="화학과">화학과</option>
						<option id="생명과학과">생명과학과</option>
						<option id="전산학부">전산학부</option>
						<option id="전기및전자공학부">전기및전자공학부</option>
						<option id="건설및환경공학과">건설및환경공학과</option>
						<option id="바이오및뇌공학과">바이오및뇌공학과</option>
						<option id="산업디자인학과">산업디자인학과</option>
						<option id="산업및시스템공학과">산업및시스템공학과</option>
						<option id="생명화학공학과">생명화학공학과</option>
						<option id="원자력및양자공학과">원자력및양자공학과</option>
						<option id="신소재공학과">신소재공학과</option>
						<option id="기계공학과">기계공학과</option>
						<option id="항공우주공학과">항공우주공학과</option>
					</select>
					<select name="subject" required="required">
						<option>없음</option>
						<option id="subject1">subject1</option>
						<option id="subject2">subject2</option>
						<option id="subject3">subject3</option>
						<option id="subject4">subject4</option>
						<option id="subject5">subject5</option>
					</select>
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">사진 첨부</div>
				<div class="divCell col2"><input type="file" name="book_photo">
					<!-- <form action="/action_page.php">
						<input type="file" name="pic" accept="image/*">
						<input type="submit">
					</form> -->
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">상태</div>
				<div class="divCell col2">
					<div class="statusDiv">
						<img src="book_icon_1.png"><br>
						<input type="radio" id="s5" value="최상" name="status" required="required"><br>최상
					</div>
					<div class="statusDiv">
						<input type="radio" id="s4" value="상" name="status"><br>상
					</div>
					<div class="statusDiv">
						<img src="book_icon_2.png"><br>
						<input type="radio" id="s3" value="중" name="status" required="required"><br>중
					</div>
					<div class="statusDiv">
						<input type="radio" id="s2" value="하" name="status"><br>하
					</div>
					<div class="statusDiv">
						<img src="book_icon_3.png"><br>
						<input type="radio" id="s1" value="최하" name="status" required="required"><br>최하
					</div>
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">
					필기 흔적 <input type="radio" id="w1" value="있음" name="written" required="required">
					있음 <input type="radio" id="w0" value="없음" name="written" required="required">
					없음</div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">
					찢어짐 <input type="radio" id="r1" value="있음" name="ripped" required="required">
					있음 <input type="radio" id="r0" value="없음" name="ripped" required="required">
					없음</div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">특이사항 <input type="text" id="specialI" name="book_special"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">연락처</div>
				<div class="divCell col2"><input type="text" id="contactI" name="contact"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">판매 희망 가격(원)</div>
				<div class="divCell col2"><input type="text" id="priceI" name="price" required="required"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">요청 사항</div>
				<div class="divCell col2"><input type="text" id="memoI" name="memo"></div>
			</div>
		</div>
		<input type="submit" class="reg_button" value="수정하기">
		<script>
			document.getElementById("isbnI").defaultValue = "<%= book_r.isbn %>";
			document.getElementById("specialI").defaultValue = "<%= book_r.book_special %>";
			document.getElementById("contactI").defaultValue = "<%= book_r.contact %>";
			document.getElementById("priceI").defaultValue = "<%= book_r.price %>";
			document.getElementById("memoI").defaultValue = "<%= book_r.memo %>";

			document.getElementById("r<%= book_r.book_ripped %>").checked = true;
			document.getElementById("w<%= book_r.book_written %>").checked = true;
			document.getElementById("s<%= book_r.book_status %>").checked = true;
			document.getElementById("<%= book_r.department %>").selected = true;
			document.getElementById("<%= book_r.subject %>").selected = true;
		</script>
	</form>
</body>
</html>