<!DOCTYPE html>
<html>
<head>
	<title>Register by title</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="reserve.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<div id="iconBox"><a href="/registerbook"><i id="Icons" class="fa fa-book fa-2x"></i></a><div id="iconText">Register</div></div>
			<div id="iconBox"><a href="/reservebook"><i id="Icons" class="fa fa-bookmark fa-2x"></i><!-- <span class="button__badge">N</span> --></a><div id="iconText">Reserve</div></div>
			<div id="iconBox"><i id="Icons" class="fa fa-exclamation fa-2x"></i>
				<div id="iconText">Notice</div></div>
			<div id="iconBox"><a href="/mypage"><i id="Icons" class="fa fa-user fa-2x"></i></a><div id="iconText">My Page</div></div>
			<div id="iconBox"><a href="/login"><i id="Icons" class="fa fa-sign-out fa-2x"></i></a>	
				<div id="iconText">Log Out</div>
			</div>
		</div>
	</div>
	<div class="top-menu">
	</div>

	<h3 style="text-align: center;">What is the title of the book?</h3>
	<form class="search-box" action="/getbooktitle" method="post">
		<input type="text" name="search_word" placeholder="Search..." class="search-input">
		<input type="submit" class="search-but" value="Search!">
	</form>

	<div class="reserve-disp">
		<% for (x in booklist) { %>
		<div class="items" id="col">
			<% if (booklist[x][0].thumbnail != null) { %>
			<img src="<%= booklist[x][0].thumbnail %>" class="book_image">
			<% } else { %>
			<img src="/no_book.png" class="book_image">
			<% } %>
			<div class="book_info">
				<a href="/bookdetails?isbn=<%= booklist[x][1] %>&saved=false" id="b_title"><%= booklist[x][0].title %></a>
				<p><%= booklist[x][0].authors %></p>
			</div>
			<form action="/registerbook">
				<input type="hidden" name="isbn" value="<%= booklist[x][1] %>"/>
			  <input type="submit" class="reserveButton" value="고르기"/>
			</form>
		</div>
		<% } %>
		<% if (status == "error") { %>
		<h3>책을 찾을 수 없습니다</h3>
		<% } %>
	</div>
</body>
</html>