<!DOCTYPE html>
<html>
<head>
	<title>Welcome to Booksellf!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/logout">log out</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
		<form class="search-box" action="/search" method="post">
			<select name="search_type">
				<option value="title">Title</option>
				<option value="author">Author</option>
				<option value="subject">Subject</option>
			</select>
			<input type="text" name="search_word" placeholder="Search..." class="search-input">
			<input type="submit" class="search-but" value="Search!">
		</form>
	</div>
	<div class="sidebar">
		<div class="w3-sidebar w3-light-grey w3-bar-block">
			<a href="#" class="w3-bar-item w3-button">물리학과</a>
			<a href="#" class="w3-bar-item w3-button">수리과학과</a>
			<a href="#" class="w3-bar-item w3-button">화학과</a>
			<a href="#" class="w3-bar-item w3-button">생명과학과</a>
			<a href="#" class="w3-bar-item w3-button">전산학부</a>
			<a href="#" class="w3-bar-item w3-button">전기및전자공학부</a>
			<a href="#" class="w3-bar-item w3-button">건설및환경공학과</a>
			<a href="#" class="w3-bar-item w3-button">바이오및뇌공학과</a>
			<a href="#" class="w3-bar-item w3-button">산업디자인학과</a>
			<a href="#" class="w3-bar-item w3-button">산업및시스템공학과</a>
			<a href="#" class="w3-bar-item w3-button">생명화학공학과</a>
			<a href="#" class="w3-bar-item w3-button">원자력및양자공학과</a>
			<a href="#" class="w3-bar-item w3-button">신소재공학과</a>
			<a href="#" class="w3-bar-item w3-button">기계항공공학부</a>
		</div>
	</div>
	<div class="book-disp">
		<% for (x in booklist) { %>
		<div class="items" id="col">
			<img src="<%= booklist[x].thumbnail %>" class="book_image">
			<div class="book_info">
				<a href="/details?bookid=<%= booklist[x].bookid %>" id="b_title"><%= booklist[x].title %></a>
				<p><%= booklist[x].uname %></p>
				<p><%= booklist[x].author %> 저</p>
				<p id="b_price"><%= booklist[x].price %>원</p>
			</div>
			
			<!-- <img src="/bookeg.jpg"> -->
		</div>
		<% } %>
	</div>
</body>
</html>