<!DOCTYPE html>
<html>
<head>
	<title>Welcome to BookSellf!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="reserve.css">
	<link rel="stylesheet" type="text/css" href="notification.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" >
	$(document).ready(function() {
		$(".notificationLink").click(function() {
			$("#notificationContainer").fadeToggle(300);
			$("#notification_count").fadeOut("slow");
			return false;
		});
		$(document).click(function() { $("#notificationContainer").hide(); });
		$("#notificationContainer").click(function() { return true });
	});
	</script>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<ul id="nav">
				<li><div id="iconBox"><a href="/registerbook"><i id="Icons" class="fa fa-book fa-2x"></i></a><div id="iconText">Register</div></div></li>
				<li><div id="iconBox"><a href="/reservebook"><i id="Icons" class="fa fa-bookmark fa-2x"></i></a><div id="iconText">Reserve</div></div></li>
				<li>
					<% if (notifcnt > 0) { %><span id="notification_count"><%= notifcnt %></span><% } %>
					<div id="iconBox"><a href=""><i id="Icons" class="fa fa-exclamation fa-2x notificationLink"></i></a><div id="iconText">Notice</div></div>
					<div id="notificationContainer"">
						<div id="notificationTitle">Notifications</div>
						<div id="notificationsBody" class="notifications">
							<% for (n in notif) { %>
								<a href="/details?bookid=<%= notif[n].bid %>&n=t"><div class="bookNotice"><%= notif[n].uname %> registered <%= notif[n].title %>.</div></a>
							<% } %>
						</div>
					</div>
				</li>
				<li><div id="iconBox"><a href="/mypage"><i id="Icons" class="fa fa-user fa-2x"></i></a><div id="iconText">My Page</div></div></li>
				<li><div id="iconBox"><a href="/login"><i id="Icons" class="fa fa-sign-out fa-2x"></i></a><div id="iconText">Log Out</div></div></li>
			</ul>
		</div>
	</div>
	<div class="top-menu">
		<form class="search-box" action="/search" method="post">
			<select class="mainSel" name="search_type">
				<option id="s_title" value="title">Title</option>
				<option id="s_author" value="authors">Author</option>
			</select>
			<% if (search) { %>
			<script>
				document.getElementById("s_<%= type %>").selected = true;
			</script>
			<input type="text" name="search_word" value="<%= word %>" class="search-input">
			<% } else { %>
			<input type="text" name="search_word" placeholder="Search..." class="search-input">
			<% } %>
			<input type="submit" class="search-but" value="Search!">
		</form>
	</div>
	<div class="sidebar">
		<div class="w3-sidebar w3-light-grey w3-bar-block">
			<a href="/" class="w3-bar-item w3-button">Total</a>
			<a href="/department?d=Physics" class="w3-bar-item w3-button">Physics</a>
			<a href="/department?d=Mathematics" class="w3-bar-item w3-button">Mathematics</a>
			<a href="/department?d=Chemistry" class="w3-bar-item w3-button">Chemistry</a>
			<a href="/department?d=Biology" class="w3-bar-item w3-button">Biology</a>
			<a href="/department?d=ComputerScience" class="w3-bar-item w3-button">ComputerScience</a>
			<a href="/department?d=ElectricEng" class="w3-bar-item w3-button">ElectricEng</a>
			<a href="/department?d=CivilEng" class="w3-bar-item w3-button">CivicEng</a>
			<a href="/department?d=BioBrainEng" class="w3-bar-item w3-button">BioBrainEng</a>
			<a href="/department?d=IndustrialDesign" class="w3-bar-item w3-button">IndustrialDesign</a>
			<a href="/department?d=IndustrialSystemsEng" class="w3-bar-item w3-button">IndustrialSystemsEng</a>
			<a href="/department?d=ChemicalBiomolecularEng" class="w3-bar-item w3-button">ChemicalBiomolecularEng</a>
			<a href="/department?d=NuclearQuantumEng" class="w3-bar-item w3-button">NuclearQuantumEng</a>
			<a href="/department?d=MaterialScienceEng" class="w3-bar-item w3-button">MaterialScienceEng</a>
			<a href="/department?d=MechanicalEng" class="w3-bar-item w3-button">MechanicalEng</a>
			<a href="/department?d=AerospaceEng" class="w3-bar-item w3-button">AerospaceEng</a>
		</div>
	</div>
	<div class="book-disp">
		<% for (x in booklist) { %>
		<div class="items" id="col">
			<% if (booklist[x].thumbnail != null) { %>
			<img src="<%= booklist[x].thumbnail %>" class="book_image">
			<% } else { %>
			<img src="/no_book.png" class="book_image">
			<% } %>
			<div class="book_info">
				<a href="/details?bookid=<%= booklist[x].bookid %>" id="b_title"><%= booklist[x].title %></a>
				<p><%= booklist[x].uname %></p>
				<p><%= booklist[x].author %></p>
				<p id="b_price"><%= booklist[x].price %>원</p>
			</div>
		</div>
		<% } %>
		<% if (booklist.length == 0) { %>
		<h3>No books available</h3>
		<% } %>
	</div>
</body>
</html>