<!DOCTYPE html>
<html>
<head>
	<title>My Page</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="mypage.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
</head>
<body>

	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<a href="/login">login</a> |
			<a href="/mypage">my page</a> |
			<a href="/upload">upload</a> |
			<a href="/reserve">reserve</a>
		</div>
	</div>
	<div class="top-menu">
		<div class="search-box">
		</div>
	</div>

	<div class="outerbox">
		<div class="midbox">
			<div class="mypagetitle"> 마이페이지</div>
			<div class="innerbox">개인정보
				<table>
					<tr>
						<td>이름</td>
						<td><%= user.name %></td>
					</tr>
					<tr>
						<td>KAIST email</td>
						<td><%= user.email %>@kaist.ac.kr</td>
					</tr>
					<tr>
						<td>뭘 더 넣지</td>
						<td>ㅇㅅㅇ</td>
					</tr>
				</table>
			</div>
			<div class="innerbox">내가 등록한 책
				<div>
					<% for (x in booklist) { %>
					<div class="items" id="col">
						<img src="<%= booklist[x].thumbnail %>" class="book_image">
						<div class="book_info">
							<a href="/details?bookid=<%= booklist[x].bookid %>" id="b_title"><%= booklist[x].title %></a>
							<p><%= booklist[x].uname %></p>
							<p><%= booklist[x].author %> 저</p>
							<p id="b_price"><%= booklist[x].price %>원</p>
						</div>
					</div>
					<% } %>
				</div>
			</div>
			<div class="innerbox">내가 찜한 책</div>
		</div>
	</div>
</body>
</html>