<!DOCTYPE html>
<html>
<head>
	<title>Register Book</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="upload.css">
	<link rel="stylesheet" type="text/css" href="reserve.css">
	<link rel="stylesheet" type="text/css" href="notification.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script type="text/javascript" >
	$(document).ready(function() {
		$(".notificationLink").click(function() {
			$("#notificationContainer").fadeToggle(300);
			$("#notification_count").fadeOut("slow");
			return false;
		});
		$(document).click(function() { $("#notificationContainer").hide(); });
		$("#notificationContainer").click(function() { return true });
	});
	</script>
</head>
<body>
	<div class="nav-bar">
		<a href="/"><img src="BooksellfLogo.png" class="theLogo"></a>
		<div class="for-spacing"></div>
		<div class="topright">
			<ul id="nav">
				<li><div id="iconBox"><a href="/registerbook"><i id="Icons" class="fa fa-book fa-2x"></i></a><div id="iconText">Register</div></div></li>
				<li><div id="iconBox"><a href="/reservebook"><i id="Icons" class="fa fa-bookmark fa-2x"></i></a><div id="iconText">Reserve</div></div></li>
				<li>
					<% if (notifcnt > 0) { %><span id="notification_count"><%= notifcnt %></span><% } %>
					<div id="iconBox"><a href=""><i id="Icons" class="fa fa-exclamation fa-2x notificationLink"></i></a><div id="iconText">Notice</div></div>
					<div id="notificationContainer"">
						<div id="notificationTitle">Notifications</div>
						<div id="notificationsBody" class="notifications">
							<% for (n in notif) { %>
								<a href="/details?bookid=<%= notif[n].bid %>&n=t"><div class="bookNotice"><%= notif[n].uname %> registered <%= notif[n].title %>.</div></a>
							<% } %>
						</div>
					</div>
				</li>
				<li><div id="iconBox"><a href="/mypage"><i id="Icons" class="fa fa-user fa-2x"></i></a><div id="iconText">My Page</div></div></li>
				<li><div id="iconBox"><a href="/login"><i id="Icons" class="fa fa-sign-out fa-2x"></i></a><div id="iconText">Log Out</div></div></li>
			</ul>		
		</div>
	</div>
	<div class="top-menu">
	</div>

	<form class="bigbox" action="/register_book" method="post">
		<div class="divTable">
			<div class="headRow">Register Book</div>
			<div class="divRow">
				<div class="divCell col1">ISBN</div>
				<div class="divCell col2">
					<% if (state == "title") { %>
					<input type="text" name="isbn" required="required" value="<%= isbn %>" readonly>
					<% } else { %>
					<input type="text" name="isbn" required="required">
					<% } %>
					<input type="button" class="check_isbn_button" id="check_isbn_button" value="Check ISBN">
					<a style="margin-left: 16px" href="/getbooktitle">Don't know the ISBN?</a>
					<div class="divCell col2 bookTitle"></div>
				</div>

				<script>
					document.querySelector('.check_isbn_button').addEventListener('click', function() {
						var isbn = document.getElementsByName('isbn')[0].value;
						if(!isbn) {
					    window.alert("Please insert an ISBN value");
					    return;
					  }
						sendAjax("http://52.78.3.46:8080/check_isbn", isbn);
					})

					function sendAjax (url, data) {
						var data = {'isbn' : data};
						data = JSON.stringify(data);

						var xhr = new XMLHttpRequest();
						xhr.open('POST', url);
						xhr.setRequestHeader('Content-Type', "application/JSON");
						xhr.send(data);

						xhr.addEventListener('load', function() {
							var result = JSON.parse(xhr.responseText);
							if (result.status === "bad")
								document.querySelector('.bookTitle').innerHTML = result.message;
							else
								document.querySelector('.bookTitle').innerHTML = "Book title: " + result.title;
						})
					}

				</script>
				
			</div>
			<div class="divRow">
				<div class="divCell col1">Department</div>
				<div class="divCell col2">
					<select name="department" required="required">
						<option id="None">None</option>
						<option id="Physics">Physics</option>
						<option id="Mathematics">Mathematics</option>
						<option id="Chemistry">Chemistry</option>
						<option id="Biology">Biology</option>
						<option id="ComputerScience">ComputerScience</option>
						<option id="ElectricEng">ElectricEng</option>
						<option id="CivilEng">CivilEng</option>
						<option id="BioBrainEng">BioBrainEng</option>
						<option id="IndustrialDesign">IndustrialDesign</option>
						<option id="IndustrialSystemEng">IndustrialSystemEng</option>
						<option id="ChemicalBiomolecularEng">ChemicalBiomolecularEng</option>
						<option id="NuclearQuantumEng">NuclearQuantumEng</option>
						<option id="MaterialScienceEng">MaterialScienceEng</option>
						<option id="MechanicalEng">MechanicalEng</option>
						<option id="AerospaceEng">AerospaceEng</option>
					</select>
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1">State</div>
				<div class="divCell col2">
					<div class="statusDiv">
						<img src="book_icon_1.png"><br><input type="radio" value="5" name="status" required="required"><br>5
					</div>
					<div class="statusDiv">
						<input type="radio" value="4" name="status"><br>4
					</div>
					<div class="statusDiv">
						<img src="book_icon_2.png"><br><input type="radio" value="3" name="status" required="required"><br>3
					</div>
					<div class="statusDiv">
						<input type="radio" value="2" name="status"><br>2
					</div>
					<div class="statusDiv">
						<img src="book_icon_3.png"><br><input type="radio" value="1" name="status" required="required"><br>1
					</div>
				</div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">
					Written <input type="radio" value="Yes" name="written" required="required">
					Yes <input type="radio" value="No" name="written" required="required">
					No </div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">
					Ripped <input type="radio" value="Yes" name="ripped" required="required">
					Yes <input type="radio" value="No" name="ripped" required="required">
					No </div>
			</div>
			<div class="divRow">
				<div class="divCell col1"></div>
				<div class="divCell col2">Others <input type="text" name="book_special"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">Contact</div>
				<div class="divCell col2"><input type="text" name="contact"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">Price (won)</div>
				<div class="divCell col2"><input type="text" name="price" required="required"></div>
			</div>
			<div class="divRow">
				<div class="divCell col1">Memo</div>
				<div class="divCell col2"><input type="text" name="memo"></div>
			</div>
		</div>
		<input type="submit" class="reg_button" value="Register">
	</form>
</body>
</html>